extends layout

block content
    section.card
        h2 Hinner jag?
        label
            | Lunchen börjar: 
            input(type="time")
        br
        label
            | Lunchen slutar: 
            input(type="time")
        br
        input(type="button", value="Kolla var jag hinner äta")