@import url('https://fonts.googleapis.com/css?family=Montserrat:500,700|Nunito:400,700&display=swap');

:root {
    --cool-blue: #2c37f4;
    --cool-blue-t: #2c68f420;
}

body {
    font-family: Nunito, sans-serif;
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    background: aliceblue;
}

h2, h3, A.button {
    font-family: Montserrat, sans-serif;
}

header {
    position: sticky;
    top: 0;
    background: #fff;
}

.header-content {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0 16px;
}

header .header-content .right {
    display: flex;
    flex-wrap: wrap;
}

.space-between :not(:last-child) {
    margin-right: 16px;
}

.space-between > * {
    margin-top: 4px;
    margin-bottom: 4px;
}

footer {
    position: sticky;
    bottom: 0;
    width: 100%;
    background: #eee;
    display: flex;
}

footer a {
    color: #000c;
    margin: 0.5rem auto;
}
main {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

main, header .header-content {
    width: 100%;
    max-width: 1300px;
    margin: auto;
    box-sizing: border-box;
}

a.button {
    text-decoration: none;
    font-weight: 500;
    padding: 4px 0;
    color: var(--cool-blue);
}

a.button:hover {
    opacity: 70%;
}


.box-shadow {
    box-shadow: 0px 0px 20px -4px rgba(0,0,0,0.2);
}


.day {
    padding: 1px 16px;
    margin: 16px 0;
    background: #f4f4f4;
}

.restaurant b {
    color: var(--cool-blue);
}

iframe {
    border: none;
    width: 100%;
    flex-grow: 1;
    margin: 16px 0;
}

@media screen and (max-width: 1300px) {
    iframe {
        margin: 0;
    }
}